body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;       
    background-color: #f0f2f5;
}

#containerLogin {
    width: 350px;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

#containerLogin form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#containerLogin input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    text-decoration: none;
    color: #0d6efd; 
    font-weight: 500;
}

.register-text a:hover {
    text-decoration: underline;
}